---
interface Props {
  title: string;
  content: string;
  latitude: number;
  longitude: number;
  zoom: number;
  geojson?: string;
  id: string;
  mapType: 'map' | 'topology' | 'satellite';
}

const { title, content, latitude, longitude, zoom, geojson, id, mapType } = Astro.props;
---

<section class="relative w-full h-screen">
  <div class="absolute inset-0 z-10 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white p-4">
    <h2 class="text-3xl font-bold mb-4">{title}</h2>
    <div class="prose max-w-none mb-4 text-white" set:html={content} />
  </div>
  <div id={id} class="absolute inset-0" data-latitude={latitude} data-longitude={longitude} data-zoom={zoom} data-geojson={geojson}></div>
</section>

<style>
  .prose :global(*) {
    color: white;
  }
</style>

<script>
  import L from 'leaflet';
  import 'leaflet/dist/leaflet.css';

  function initMap() {
    const mapElements = document.querySelectorAll('[id^="map-"]');
    mapElements.forEach((mapElement) => {
      if (!mapElement) return;

      const latitude = Number(mapElement.dataset.latitude);
      const longitude = Number(mapElement.dataset.longitude);
      const zoom = Number(mapElement.dataset.zoom);
      const geojsonString = mapElement.dataset.geojson;

      const map = L.map(mapElement.id, {
        zoomControl: false  // Desativa o controle de zoom padrão
      }).setView([latitude, longitude], zoom);

      const mapTypes = {
        map: {
          url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        },
        topology: {
          url: 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
          attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        },
        satellite: {
          url: 'https://tiles.stadiamaps.com/tiles/stamen_terrain/{z}/{x}/{y}{r}.png',
          attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        }
      };

      const selectedMapType = mapTypes[mapElement.dataset.maptype || 'map'];

      L.tileLayer(selectedMapType.url, {
        attribution: selectedMapType.attribution
      }).addTo(map);

      // Adiciona o controle de zoom no canto superior direito
      L.control.zoom({
        position: 'topright'
      }).addTo(map);

      if (geojsonString) {
        try {
          const geojson = JSON.parse(geojsonString);
          const geoJsonLayer = L.geoJSON(geojson).addTo(map);
          map.fitBounds(geoJsonLayer.getBounds());
        } catch (error) {
          console.error('Error parsing GeoJSON:', error);
        }
      }

      // Função para redimensionar o mapa
      function resizeMap() {
        map.invalidateSize();
      }

      // Redimensiona o mapa quando a janela é redimensionada
      window.addEventListener('resize', resizeMap);

      // Redimensiona o mapa após um curto atraso para garantir que todos os elementos estejam carregados
      setTimeout(resizeMap, 250);
    });
  }

  // Initialize the map when the DOM is fully loaded
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initMap);
  } else {
    initMap();
  }
</script>
